.grid-pager-pageButton {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
}

.grid-pager-toggleButton {
    width: 100px;
    height: 20px;
    padding: 0;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
}

.grid-sort-start, .grid-sort-chain {
    padding: 0 18px 0 0;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
}

.grid-sort-chain[disabled] {
    pointer-events: none;
    cursor: inherit;
    background: none;
    border: none;
}

.grid-sort-neutral {
    background: url('images/sort-neutral.png') no-repeat center;
}

.grid-sort-up {
    background: url('images/sort-up.png') no-repeat center;
}

.grid-sort-down {
    background: url('images/sort-down.png') no-repeat center;
}